<div class="modal fade" id="editProfilePopup" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" [ngStyle]="ngStyleButton(2)">
            <div class="modal-header">
                <b *ngIf="user"><i class="fa fa-{{user.icon}}"></i> {{user.username}} - Edit Profile</b>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <app-form-wrapper [loadingFlg]="loadingFlg" [errorMessage]="errorMessage"
                    [changesMadeFlg]="changesMadeFlg" [formFields]="formFields"
                    (messageEvent)="updateDetailsButtonClicked($event)">
                </app-form-wrapper>
                <hr>
                <app-loading-bar *ngIf="loadingFlg2"></app-loading-bar>
                <app-button *ngIf="!deleteFlg" (click)="deleteFlg=true" [name]="'Delete User'" [icon]="'trash'"
                    [butStyle]="5">
                </app-button>
                <div class="borderClass" style="background-color: yellow; text-align: center;"
                    *ngIf="deleteFlg && !loadingFlg">
                    <div *ngIf="errorMessage">{{errorMessage}}</div>
                    <div *ngIf="!errorMessage">

                        <div>Do you wish to permanently delete your user account? This move cannot be undone.</div>
                        <app-button (click)="deleteFlg=false" [name]="'Cancel'" [icon]="'times'" [butStyle]="1">
                        </app-button>
                        <app-button (click)="deleteUser()" [name]="'Yes!'" [icon]="'check'" [butStyle]="5">
                        </app-button>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>