<app-page-shell [userId]="userId" [navTitle]="'People'" [icon]="'fa-user'">

    <app-button-bar [buttonIdx]="2"></app-button-bar>

    <app-loading-bar *ngIf="loadingFlg"></app-loading-bar>
    <div class="blackBox" *ngIf="!loadingFlg && !showFinalMessageFlg">
        <div><input type="password" id="passwordField1" placeholder="Password" (click)="$event.target.value=''"></div>
        <div><input type="password" id="passwordField2" placeholder="Password" (click)="$event.target.value=''"></div>
        <div>
            <app-button (click)="resetPressed()" [name]="'Reset'" class="large" [butStyle]="1">
            </app-button>
        </div>
    </div>
    <div *ngIf="showFinalMessageFlg" style="font-size: 24px;">Success! Now log in above</div>

</app-page-shell>

<app-info-popup #infoModal></app-info-popup>
<app-spinner #spinnerPopup></app-spinner>