<app-page-shell [userId]="userId" [navTitle]="'Submit Film'" [icon]="'fa-upload'">

    <img src="assets/graphics/film8.jpg" class="image">
    <app-button-bar [buttonIdx]="4"></app-button-bar>

    <div class="blackBox">

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <img src="assets/graphics/crew2.jpg" class="image">
                </div>
                <div class="col-sm-6">
                    <div class="borderClass">
                        <div class="titleCLass">Rules for Submitting Films</div>
                        <div class="listClass">
                            <li>Shorts only. Film must be between 4 and 30 minutes</li>
                            <li>Anyone is eligible to submit.</li>
                            <li>Any type of film can be submitted.</li>
                            <li>Guaranteed feedback from multiple industry insiders.</li>
                            <li>Submissions start October 1, 2020.</li>
                            <li>Festival Lineup announced July 15, 2021.</li>
                        </div>
                    </div>

                    <table class="drTable" border="0">
                        <tr>
                            <td colspan="4" class="titleCLass">Submitting Schedule</td>
                        </tr>
                        <tr>
                            <th>Type</th>
                            <th>End Date</th>
                            <th>Cost</th>
                        </tr>
                        <tr>
                            <td>Early Bird</td>
                            <td>Feb 1, 2021</td>
                            <td>$15</td>
                        </tr>
                        <tr>
                            <td>Regular</td>
                            <td>June 1, 2021</td>
                            <td>$30</td>
                        </tr>
                        <tr>
                            <td>Late</td>
                            <td>July 1, 2021</td>
                            <td>$45</td>
                        </tr>
                    </table>
 
                    <app-button *ngIf="user.id" (click)="addFilmPopup.show(true)" [name]="'Submit!'" [class]="'large'"
                        [icon]="'upload'"></app-button>
                    <app-button *ngIf="!user.id" (click)="infoPopup.show('Log in to submit!')" [name]="'Submit!'"
                        [class]="'large'" [icon]="'upload'"></app-button>

                </div>
            </div>
        </div>
    </div>

</app-page-shell>

<app-info-popup #infoPopup (messageEvent)="okButtonPressed($event)"></app-info-popup>
<app-add-film-popup #addFilmPopup></app-add-film-popup>