.bottomDiv {
    position: fixed;
    width: 100%;
    max-width: 800px;
    top: 60px;
    z-index: 100;
    background-color: #444;
 }
 .wordLink {
    cursor: pointer;
}
.wordLink:hover {
    font-weight: 800;
}