<div style="display: inline-block; width: 100%; max-width: 300px;">

            <img *ngIf="filmId>0" align="left" src="https://www.appdigity.com/fest/posters/poster{{filmId}}.jpg" alt="{{name}}" class="posterImg">
    <div>
        <a *ngIf="filmId>0" style="font-size: 18px; font-weight: 700;" [routerLink]="['/film']" [queryParams]="{id: filmId}">{{name}}</a>
        <span *ngIf="filmId==0">{{name}}</span>
        
    </div>
    <div style="font-size: 12px; font-weight: 800;">{{director}} <i *ngIf="userFlg" class="fa fa-user"></i></div>
    <div style="font-size: 12px; color: gray; text-align: left;">{{tagline}}</div>

</div>


