<div class="top-bar" style="background-color: white; color: black; width: 100%; text-align: center; height: 56px;">
    <div class="inner-bar" style="width: 100%; max-width: 1000px; display: inline-block; height: 56px;">
        <table width="100%" border="0" style="height: 56px;">
            <tr>
                <td align="center" valign="middle" width="260">
                    <div routerLink="" style="cursor: pointer; font-size: 20px; font-weight: 700;"><i class="fa fa-film"
                            style="color: #00aeff;"></i> Snohomish Film Festival</div>
                            <div style="font-size: 12px;">September 9, 2023</div>
                </td>
                <td align="right" valign="middle">
                    <span *ngFor="let link of links" class="main-link" [ngClass]="ngClassLink(link.name)"
                        routerLink="{{link.route}}">
                        {{link.name}}
                    </span>
                </td>
                <td align="right" valign="middle">
                    <span *ngIf="!userId" (click)="loginModal.show()" class="login-link">
                        Login
                    </span>
                    <img [title]="user.username" *ngIf="userId>0" class="profile-pic" (mousedown)="showProfileFlg = !showProfileFlg"
                        [src]="profilePic" height="50" style="cursor: pointer;">
 
                    
                </td>
            </tr>
        </table>
    </div>
</div>

<div *ngIf="showProfileFlg" class="profile-popup">
    <div class="profile-link" [routerLink]="['/user']" [queryParams]="{id: userId}">Show Profile</div>
    <div class="profile-link" (mousedown)="userLogout()">Logout</div>
    <div (mousedown)="showProfileFlg = !showProfileFlg" class="profile-link">Close</div>
</div>

<div class="page-outer">
    <div class="page-inner">
        <ng-content></ng-content>
        <app-bottom-bar></app-bottom-bar>
    </div>
    
</div>

<app-login #loginModal (messageEvent)="refreshThisUser($event)"></app-login>