<app-page-shell [userId]="userId" [navTitle]="'Tickets'" [icon]="'fa-ticket'">

    <img src="assets/graphics/tickets2.jpg" class="image">
 


 
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <img src="assets/graphics/theater.jpg" class="image">
                </div>
                <div class="col-sm-6">
                    <div class="borderClass">
                        <div class="titleCLass">Location Details</div>
                        <div class="listClass">
                             <li> Saturday September 17, 2022</li>
                            <li> Lynnwood Convention Center</li>
                            <li> Time: 3pm - 8pm</li>
                            <li> Cost: $20</li>
                            <li> # Films: 30</li>
                        </div>
                    </div>
                    <app-button [routerLink]="['/program']" [name]="'Program'" [icon]="'file-text'"></app-button>

                </div>
            </div>
        </div>

</app-page-shell>