.reviewBox {
    display: inline-block;
    border: 1px solid black;
    overflow: hidden;
    background-color: #fff;
    color: black;
    border-radius: 10px;
    margin: 2px; 
    box-shadow: 5px 5px 5px black;
    width: 100%;
    max-width: 390px;
}
.reviewBox:hover {
    background-color: #ccccff;
}
 .iconLink {
     font-size: 24px;
 }
 .iconLink:hover {
    font-weight: 700;
 }