
.pictureBG {
	background-size: cover;
	background-repeat: no-repeat;
}
.award-box {
	display: inline-block;
	border: 1px solid black; 
	background-color: #aaa;
	color: black;
	border-radius: 5px;
	margin: 10px; 
	padding: 5px;
}
.specialMessage {
	text-align: center;
	font-size: 24px;
	color: green;
	font-weight: 800;
}
@media screen and (max-width: 776px) {
	//narrow
	.right-col {
		text-align: center;
	}
	.left-col {
		text-align: center;
	}
	.hidden-sm {
		display: none !important;
	}
}