<app-page-shell [userId]="userId" [lButton]="'info'" [rButton]="'brush'" [navTitle]="'Main Menu'" [icon]="'fa-bars'"
    (messageEvent)="buttonClicked ($event)">

    <img src="assets/graphics/logoSmall2.png" style="width: 100%; max-width: 600px;" title="Snohomish Film Festival">

    <div *ngIf="festivalHasEnded">
        <div class="container-fluid">

            <div class="row">
                <div class="col-sm-6">
                    <div class="borderClass">
                        <div class="titleCLass">Snohomish Film Festival</div>
                        <div class="box-inner">
                            <p>Welcome to Snohomish FIlm Festival. Our goal is to promote local short films and all of
                                the
                                talented people who help make them possible.</p>
                            <ul>
                                <li>30 films selected</li>
                                <li>14 Physical Trophys</li>
                                <li>Live festival & awards show</li>
                                <li>Written feedback given to all submitted films!</li>
                            </ul>
                            <p>We begin taking submissions for next year's event on January 1st.</p>

                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="borderClass">
                        <div class="titleCLass">{{displayYear}} Snohomish Film Festival</div>
                        <div class="box-inner" style="text-align: center;">
                            <img src="http://www.appdigity.com/fest/mainImages/main2022.jpg" width="100%">
                            <p>Thank you to everyone who attended this exciting event! Click below to see all the winners.</p>
                            <app-button [routerLink]="['/festival-page']" [queryParams]="{filmYear: 2022}" [name]="'2022 Festival Winners!'" [icon]="'film'">
                            </app-button>

                        </div>
                    </div>
               </div>
            </div>
        </div>

    </div>
    <div *ngIf="!festivalHasEnded">
        <div class="container-fluid">

            <div class="row">
                <div class="col-sm-6">


                    <div class="borderClass">
                        <div class="titleCLass">{{displayYear}} Snohomish Film Festival</div>
                        <div class="box-inner">
                            <div *ngIf="specialMessage" class="specialMessage">{{specialMessage}}</div>
                            <p>Welcome to Snohomish FIlm Festival. Our goal is to promote local short films and all of
                                the
                                talented people who help make them possible.</p>
                            <ul>
                                <li>30 films screened</li>
                                <li>14 Physical Trophys</li>
                                <li>Live festival & awards show</li>
                                <li>Written feedback given to all submitted films!</li>
                            </ul>
                            <div style="text-align: center;">
                                <app-button *ngIf="0" [routerLink]="['/program']" [name]="'2022 Festival Lineup'"
                                    [icon]="'file-text'">
                                </app-button>&nbsp;
                                <app-button [routerLink]="['/help-wanted']" [name]="'Volunteer'" [icon]="'user'">
                                </app-button>
                            </div>
                        </div>
                    </div>
                    <div class="borderClass" *ngIf="currentMonth <= 6 || currentMonth > 10">
                        <div class="titleCLass">Requirements</div>
                        <div class="box-inner">
                            <ul>
                                <li>Anyone can submit</li>
                                <li>Any film genre welcome</li>
                                <li>Any Creation date</li>
                                <li>Film length under 30 minutes</li>
                            </ul>
                        </div>
                    </div>
                    <div class="borderClass" *ngIf="currentMonth >= 7 && currentMonth < 11">
                        <div class="titleCLass">Films Selected!</div>
                        <div class="box-inner">
                            <p>
                                Thank you to everyone who submitted a project! We ended up getting almost 60 projects
                                submitted and made some very tough choices to select our 30 picks for the 2022 festival.
                                All submitters should have been notified by now.
                            </p>
                            <p *ngIf="0">
                                We are now choosing winners for each of the awards. You will be notified soon about
                                these, as well as the full schedule for our festival this year. We look forward to
                                meeting everyone in September.
                            </p>
                            <p>
                                Award nominations are listed below for the 2022 Snohomish Film Festival!
                            </p>
                            <div>Film makers: Visit <a href="https://filmfreeway.com/" target="_blank">Film Freeway</a>
                                to generate your
                                laurels.</div>
                        </div>
                    </div>

                </div>
                <div class="col-sm-6">

                    <iframe width="100%" height="280" src="https://www.youtube.com/embed/1-UK5cQItBY"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>
                    </iframe>
                    <div><a href="https://www.youtube.com/embed/St4wbagIMuI">2022 Promo Video</a></div>
                    <div *ngIf="0"><a href="https://www.youtube.com/embed/1-UK5cQItBY">2021 Promo Video</a></div>



                    <div class="borderClass" *ngIf="currentMonth <= 6 || currentMonth > 10">
                        <div class="titleCLass">Dates</div>
                        <div class="box-inner">
                            <ul>
                                <li>Submissions begin Jan 1st</li>
                                <li>Deadline: June 30th</li>
                                <li>Festival: September {{festivalDay}}th</li>
                            </ul>
                        </div>
                    </div>

                    <div class="borderClass" *ngIf="currentMonth >= 7 && currentMonth < 11">
                        <div class="titleCLass">Snohomish Film Festival</div>
                        <div class="box-inner">
                            <div *ngIf="specialMessage" class="specialMessage">{{specialMessage}}</div>
                            <p>Support Snohomish film by attending this exciting event. 30 films included, plus meet &
                                greets with the film makers and a live awards show! Tickets only $12! ($15 at the door)
                            </p>

                            <div style="text-align: center;">
                                <a href="https://filmfreeway.com/SnohomishFilmFestival/tickets" target="_blank">
                                    <app-button [name]="'Tickets'" [icon]="'ticket'"></app-button>
                                </a>&nbsp;
                                <app-button [routerLink]="['/program']" [name]="'Festival Lineup'" [icon]="'file-text'">
                                </app-button>
                                <div style="font-size: 22px; font-weight: 700;">Saturday September 9th</div>
                                <div>3pm - 10pm</div>
                                <div>Shoreline Community College</div>
                                <div>16101 Greenwood Ave N</div>
                                <div>Shoreline, WA 98133 </div>
                                <div>Theater Building 1600 Bldg</div>
                                <hr>
                                

                                <div *ngIf="festivalDay == currentDay"
                                    style="background-color: #ffffc0; display: inline-block; border: 1px solid gray; padding: 10px;">
                                    <div><b>Snack-Pack</b></div>
                                    <div>Popcorn, Candy Bar & Drink, $15</div>
                                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                        <input type="hidden" name="cmd" value="_s-xclick">
                                        <input type="hidden" name="hosted_button_id" value="7JRSLVWY5FYJS">
                                        <input type="image"
                                            src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif"
                                            border="0" name="submit"
                                            alt="PayPal - The safer, easier way to pay online!">
                                        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif"
                                            width="1" height="1">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>


    </div>


    <div class="blackBox" *ngIf="0 && !festivalHasEnded">
        <div class="container-fluid">
            <div style="font-size: 24px; background-color: white;">
                <p>Snohomish Film Festival {{displayYear}} Feedback</p>
                <p style="font-size: 12px;">Note to film makers: We tried to be fair and honest with our feedback. Our
                    goal is to help everyone become better film makers.</p>

                <a href="https://www.appdigity.com/fest/sffFeedback_files/2022/filmfreeway-ratings2022.htm"
                    target="_blank">2022 Feedback File</a>
                <a *ngIf="0" href="https://www.appdigity.com/fest/sffFeedback.htm">Snohomish Film Festival Feedback</a>
            </div>
        </div>
    </div>

    <div class="borderClass" *ngIf="0">
        <div class="titleCLass">2022 Snohomish Film Festival Nominations</div>
    </div>
    <div *ngIf="0">


        <div class="award-box" *ngFor="let award of awards">
            <b><i class="fa fa-trophy"></i> {{award.name}}</b>
            <ul style="text-align: left;">
                <li *ngFor="let film of award.films">{{film}}</li>
            </ul>
        </div>
        <div>Film makers: Visit <a href="https://filmfreeway.com/" target="_blank">Film Freeway</a> to generate your
            laurels.</div>
    </div>
    <div class="borderClass" style="text-align: center;" *ngIf="!festivalHasEnded">
        <div class="titleCLass">Snohomish Film Festival {{displayYear}} (Submitted Projects)</div>
        <app-loading-bar *ngIf="loadingFlg"></app-loading-bar>
        <app-film-snapshot *ngFor="let film of displayFilms" [film]="film"></app-film-snapshot>
    </div>

</app-page-shell>

<!--<app-login #loginModal (messageEvent)="refreshUser($event)"></app-login>-->