<app-page-shell [userId]="userId" [navTitle]="'Tickets'" [icon]="'fa-ticket'">

 


    <div class="blackBox">
        <img src="assets/graphics/logo.png" style="width: 100%; max-width: 600px;" title="Snohomish Film Festival">

        <table class="drTable" border="0">
            <tr>
                <td>
                    3pm - Room A1
                </td>
                <td>
                    Meet & Greet
                </td>
                <td>
                    Sign in, get your program, meet & greet, refreshments
               </td>
            </tr>
            <tr>
                <td>
                    4pm - Room A1
                </td>
                <td>
                    Script Reading
                </td>
                <td>
                    <app-film-link [filmObj]= "filmList[30]" [userId]="userId"></app-film-link>
                </td>
            </tr>
        </table>
        <table class="drTable" border="0">
            <tr>
                <td colspan="4" style="background-color: #000060; color: white;">Film Program</td>
            </tr>
            <tr>
                <th>Time</th>
                <th>Main Theater</th>
                <th>Screen 2</th>
                <th>Screen 3</th>
            </tr>
           <tr>
                <td>3pm<br>&nbsp;<br></td>
                <td colspan="3" style="background-color: #ccffcc;">Doors Open / Meet & Greet / Refreshments</td>
            </tr>
            <tr>
                <td class="blue-bar"></td>
                <td class="blue-bar">Drama</td>
                <td class="blue-bar">Comedy</td>
                <td class="blue-bar">Horror</td>
            </tr>
           <tr>
                <td>4pm</td>
                <td>
                    <app-film-link [filmObj]= "filmList[0]" [userId]="userId"></app-film-link>
                </td>
                <td>
                    <app-film-link [filmObj]= "filmList[1]" [userId]="userId"></app-film-link>
                </td>
                <td>
                    <app-film-link [filmObj]= "filmList[2]" [userId]="userId"></app-film-link>
                </td>
            </tr>
            <tr>
                <td>4:15</td>
                <td>
                    <app-film-link [filmObj]= "filmList[3]" [userId]="userId"></app-film-link>
                </td>
                <td>
                    <app-film-link [filmObj]= "filmList[4]" [userId]="userId"></app-film-link>
                </td>
                <td>
                    <app-film-link [filmObj]= "filmList[5]" [userId]="userId"></app-film-link>
                </td>
            </tr>
            <tr>
                <td>4:30</td>
                <td>
                    <app-film-link [filmObj]= "filmList[6]" [userId]="userId"></app-film-link>
                </td>
                <td>
                    <app-film-link [filmObj]= "filmList[7]" [userId]="userId"></app-film-link>
                </td>
                <td>
                    <app-film-link [filmObj]= "filmList[8]" [userId]="userId"></app-film-link>
                </td>
            </tr>
            <tr>
                <td>4:45</td>
                <td>
                    <app-film-link [filmObj]= "filmList[9]" [userId]="userId"></app-film-link>
               </td>
                 <td>
                    <app-film-link [filmObj]= "filmList[10]" [userId]="userId"></app-film-link>
                </td>
                <td>
                    <app-film-link [filmObj]= "filmList[11]" [userId]="userId"></app-film-link>
                </td>
            </tr>

            <tr>
                <td class="blue-bar"></td>
                <td class="blue-bar">Drama</td>
                <td class="blue-bar">Music Videos</td>
                <td class="blue-bar">Horror</td>
            </tr>
            <tr>
                <td>5pm</td>
                <td>
                    <app-film-link [filmObj]= "filmList[12]" [userId]="userId"></app-film-link>
               </td>
                <td>
                    <app-film-link [filmObj]= "filmList[13]" [userId]="userId"></app-film-link>
                </td>
                <td>
                    <app-film-link [filmObj]= "filmList[14]" [userId]="userId"></app-film-link>
                </td>
            </tr>
            <tr>
                <td>5:20</td>
                <td>
                    <app-film-link [filmObj]= "filmList[15]" [userId]="userId"></app-film-link>
                </td>
                <td>
                    <app-film-link [filmObj]= "filmList[16]" [userId]="userId"></app-film-link>
                </td>
                <td>
                    <app-film-link [filmObj]= "filmList[17]" [userId]="userId"></app-film-link>
                </td>
            </tr>
            <tr>
                <td>5:40</td>
                <td>
                    <app-film-link [filmObj]= "filmList[18]" [userId]="userId"></app-film-link>
                </td>
                <td>
                    <app-film-link [filmObj]= "filmList[19]" [userId]="userId"></app-film-link>
                </td>
                <td>
                    <app-film-link [filmObj]= "filmList[20]" [userId]="userId"></app-film-link>
                </td>
            </tr>
            <tr>
                <td class="blue-bar"></td>
                <td class="blue-bar">Drama</td>
                <td class="blue-bar">Sci-fi</td>
                <td class="blue-bar">Horror/Documentary</td>
            </tr>
            <tr>
                <td>6pm</td>
                <td>
                    <app-film-link [filmObj]= "filmList[21]" [userId]="userId"></app-film-link>
                </td>
                <td>
                    <app-film-link [filmObj]= "filmList[22]" [userId]="userId"></app-film-link>
                </td>
                <td>
                    <app-film-link [filmObj]= "filmList[23]" [userId]="userId"></app-film-link>
                </td>
            </tr>
            <tr>
                <td>6:15</td>
                <td>
                    <app-film-link [filmObj]= "filmList[24]" [userId]="userId"></app-film-link>
                </td>
                <td>
                    <app-film-link [filmObj]= "filmList[25]" [userId]="userId"></app-film-link>
                </td>
                <td>
                    <app-film-link [filmObj]= "filmList[26]" [userId]="userId"></app-film-link>
                 </td>
            </tr>
            <tr>
                <td>6:30</td>
                <td></td>
                <td></td>
                <td>
                    <app-film-link [filmObj]= "filmList[27]" [userId]="userId"></app-film-link>
                </td>
            </tr>
            <tr>
                <td colspan="4" class="blue-bar">Main Event</td>
            </tr>
            <tr>
                <td>6:45</td>
                <td>
                    <app-film-link [filmObj]= "filmList[28]" [userId]="userId"></app-film-link>
                </td>
                <td style="background-color: #777;"></td>
                <td style="background-color: #777;"></td>
            </tr>
            <tr>
                <td>7:05</td>
                <td>
                    <app-film-link [filmObj]= "filmList[29]" [userId]="userId"></app-film-link>
                </td>
                <td style="background-color: #777;"></td>
                <td style="background-color: #777;"></td>
            </tr>
            <tr>
                <td>7:30<br>&nbsp;<br></td>
                <td style="background-color: #ffcccc;">Awards Ceremony</td>
                <td style="background-color: #777;"></td>
                <td style="background-color: #777;"></td>
            </tr>

        </table>
        <div><i class="fa fa-user"></i> - Filmmaker attending in person and available for Q&A</div>
        <app-button [routerLink]="['/tickets']" [name]="'Venue'" [icon]="'ticket'"></app-button>


    </div>

</app-page-shell>