<app-page-shell [userId]="userId" [navTitle]="'Tickets'" [icon]="'fa-ticket'">

    <img src="assets/graphics/tickets2.jpg" class="image">
    <app-button-bar [buttonIdx]="5"></app-button-bar>



    <div class="blackBox">
        <img src="assets/graphics/logo.png" style="width: 100%; max-width: 600px;" title="Snohomish Film Festival">

        <table class="drTable" border="0">
            <tr>
                <td colspan="4" style="background-color: #000060; color: white;">Festival Program</td>
            </tr>
            <tr>
                <th>Time</th>
                <th>Main Theater</th>
                <th>Screen 2</th>
                <th>Screen 3</th>
            </tr>
            <tr>
                <td>3pm<br>&nbsp;<br></td>
                <td colspan="3" style="background-color: #ccffcc;">Doors Open / Meet & Greet / Refreshments</td>
            </tr>
            <tr>
                <td>4pm</td>
                <td>TBD</td>
                <td>TBD</td>
                <td>TBD</td>
            </tr>
            <tr>
                <td>4:15</td>
                <td>TBD</td>
                <td>TBD</td>
                <td>TBD</td>
            </tr>
            <tr>
                <td>4:30</td>
                <td>TBD</td>
                <td>TBD</td>
                <td>TBD</td>
            </tr>
            <tr>
                <td>4:45</td>
                <td>TBD</td>
                <td>TBD</td>
                <td>TBD</td>
            </tr>

            <tr>
                <td colspan="4" style="background-color: #ccccff;">5pm hour features local Snohomish County Films</td>
            </tr>
            <tr>
                <td>5pm</td>
                <td>TBD</td>
                <td>TBD</td>
                <td>TBD</td>
            </tr>
            <tr>
                <td>5:15</td>
                <td>TBD</td>
                <td>TBD</td>
                <td>TBD</td>
            </tr>
            <tr>
                <td>5:30</td>
                <td>TBD</td>
                <td>TBD</td>
                <td>TBD</td>
            </tr>
            <tr>
                <td>5:45</td>
                <td colspan="3" style="background-color: #ccffcc;">Intermission</td>
            </tr>
            <tr>
                <td>6pm</td>
                <td>TBD</td>
                <td>TBD</td>
                <td>TBD</td>
            </tr>
            <tr>
                <td>6:15</td>
                <td>TBD</td>
                <td>TBD</td>
                <td>TBD</td>
            </tr>
            <tr>
                <td>6:30</td>
                <td colspan="3" style="background-color: #ccffcc;">Intermission</td>
            </tr>
            <tr>
                <td>6:45<br>&nbsp;<br></td>
                <td style="background-color: #ffcccc;">Awards Ceremony</td>
                <td style="background-color: #777;"></td>
                <td style="background-color: #777;"></td>
            </tr>
            <tr>
                <td>7:15</td>
                <td>TBD</td>
                <td style="background-color: #777;"></td>
                <td style="background-color: #777;"></td>
            </tr>
            <tr>
                <td>7:30</td>
                <td>TBD</td>
                <td style="background-color: #777;"></td>
                <td style="background-color: #777;"></td>
            </tr>
            <tr>
                <td>7:45</td>
                <td>TBD</td>
                <td style="background-color: #777;"></td>
                <td style="background-color: #777;"></td>
            </tr>
       </table>
       <app-button [routerLink]="['/tickets']" [name]="'Venue'" [icon]="'ticket'"></app-button>


    </div>

</app-page-shell>