<div class="modal fade" id="addFilmPopup" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" [ngStyle]="ngStyleButton(2)">
            <div class="modal-header">
                <b><i class="fa fa-film"></i> Add Film</b>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div *ngIf="filmType==0">
                    <p style="text-align: center;">Two ways to submit your film:</p>
                    <table width="100%">
                        <tr>
                            <td align="center" valign="top" width="50%">
                                <button (click)="showStartDateFlg = true" type="button" class="btn-default roundButton large"
                                    [ngStyle]="ngStyleSegment(buttonIdx,1)">
                                    <i class="fa fa-arrow-right"></i> Film Festival
                                </button>
                                <div style="font-size: 12px; padding: 10px;">Submit your film to the 2021 Snohomish Film
                                    Festival.</div>
                                <div style="color: yellow;" *ngIf="showStartDateFlg">Submissions begin Oct 1, 2020</div>
                            </td>
                            <td align="center" valign="top" width="50%">
                                <button (click)="filmType=1" type="button" class="btn-default roundButton large"
                                    [ngStyle]="ngStyleSegment(buttonIdx,1)">
                                    <i class="fa fa-arrow-right"></i> Database
                                </button>
                                <div style="font-size: 12px; padding: 10px;">Add an older film to our database, which will be immediately viewable to the public.</div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div *ngIf="filmType==1 || filmType==2">
                    <p *ngIf="filmType==1">Use this form to add an existing project of yours to our active database.
                        This
                        will allow users and film critics to leave comments and write reviews.</p>
                    <p *ngIf="filmType==1">Note: Your film must be publically viewable on a site like youtube or amazon.</p>
                    <p *ngIf="filmType==2">Submitting your film costs $40. You will be notified by August 1st if your
                        film
                        has been selected for showing at the film festival.</p>
                    <app-form-wrapper *ngIf="filmType==1" [loadingFlg]="loadingFlg" [formFields]="formFields" (messageEvent)="submitButtonClicked($event)"></app-form-wrapper>
                    <div *ngIf="filmType==2" style="color: yellow;">Submissions start Jan 1, 2021!</div>
                </div>
                
                <div *ngIf="filmType==3" style="text-align: center;">
                    <div>Film Submitted Successfully!</div>
                    <app-button (click)="okButtonPressed()" [name]="'Ok'" [class]="'large'"></app-button>
                </div>

            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>