.personClass {
    border: 1px solid black;
    background-color: white;
    display: inline-block;
    min-height: 240px;
    width: 150px;
    padding: 0;
    margin: 1px;
    overflow: hidden;
	border-radius: 10px; 
    box-shadow: 5px 5px 5px #777; 
    cursor: pointer;
}
.personClass:hover {
    background-color: #ccffff;
    box-shadow: 5px 5px 8px black; 
}
.iconLittle {
    padding: 1px;
}
