<app-page-shell [userId]="userId" [navTitle]="'Films'" [icon]="'fa-film'" [rButton]="'plus'"
    (messageEvent)="plusButtonClicked ($event)">

    <img src="assets/graphics/film7.jpg" class="image">
    <app-button-bar [buttonIdx]="1"></app-button-bar>

    <div class="blackBox">
        <div style="font-size: 24px; font-weight: 700;"><i class="fa fa-film"></i> -Festival Films-
            <app-button style="float: right;" (click)="plusButtonClicked('add')" [name]="'Add Your Film'"
                [icon]="'plus'" [class]="'narrow'">
            </app-button>
        </div>
        <div *ngIf="0">
            Browse through our database of local films. Feel free to "Like", comment and review these films, or
            add your own!
        </div>

        <div>
            <div class="btn-group">
                <button *ngFor="let year of years" (click)="changeOption(year, 0)" type="button" class="btn-default roundButton segmentButton"
                    [ngClass]="ngClassSegment(selectedYear,year)">
                    <span *ngIf="year==0">Older Films</span>
                    <span *ngIf="year>0">{{year}} Festival</span>
                </button>
             </div>
        </div>
        <div *ngIf="selectedYear==displayYear">The following films have been submitted to Snohomish Film Festival {{selectedYear}}.
            Winning entries will be announced July 15th!</div>



        <app-loading-bar *ngIf="loadingFlg"></app-loading-bar>
        <app-film-snapshot *ngFor="let film of displayFilms" [film]="film"></app-film-snapshot>

    </div>

</app-page-shell>

<app-info-popup #infoPopup></app-info-popup>
<app-add-film-popup #addFilmPopup (messageEvent)="flmAdded($event)"></app-add-film-popup>