<app-page-shell [userId]="userId" [navTitle]="'Film Detail'" [icon]="'fa-film'" [rButton]="'home'">

    <app-loading-bar *ngIf="loadingFlg"></app-loading-bar>
    <div class="container-fluid" *ngIf="film" style="padding-top: 10px;">
        <div class="row">
            <div class="col-sm-6">
                <img src="https://www.appdigity.com/fest/posters/poster{{film.id}}.jpg" class="imageCard"
                    style="width: 100%; max-width: 400px; max-height: 600px;">
                <app-button *ngIf="filmIsEditableFlg" (click)="editFilm(film, true)" [name]="'Edit'" [class]="'narrow'"
                    [icon]="'pencil'"></app-button>
                <app-button *ngIf="filmIsEditableFlg && showRefreshButton" (click)="refreshImagePressed()"
                    [name]="'Refresh'" [class]="'narrow'" [icon]="'refresh'"></app-button>
                <div *ngIf="showRefreshMessage">You may need to refresh your browser to see the new image as it may be
                    cached in your browser's memory.</div>
            </div>
            <div class="col-sm-6">
                <app-data-table [tableObj]="tableObj"></app-data-table>
                <app-data-table *ngIf="castObj.data" [tableObj]="castObj"></app-data-table>
                <app-data-table *ngIf="crewObj.data" [tableObj]="crewObj"></app-data-table>
                <div class="detailCard">
                    <div class="titleCLass" [ngStyle]="ngStyleButton(3)">Synopsis</div>
                    <div style="padding: 5px;">
                        <div><b>{{film.tagline}}</b></div>
                        <div style="color: #777;">{{film.synopsis}}</div>
                    </div>
                </div>

                <div *ngIf="filmIsEditableFlg">
                    <app-button (click)="editFilm(film, false)" [name]="'Edit'" [class]="'narrow'" [icon]="'pencil'">
                    </app-button>
                    <app-button (click)="castCrewPopup.show(film)" [name]="'Add Cast/Crew'" [class]="'narrow'"
                        [icon]="'user'"></app-button>
                    <app-button [name]="'Upload Script'" [class]="'narrow'" [icon]="'file-pdf-o'"></app-button>
                </div>


                <a *ngIf="film.trailorUrl" target="_blank" href="{{film.trailorUrl}}">
                    <button class="btn btn-secondary roundButton">
                        <i class="fa fa-play" *ngIf="film.trailerCode==0"></i>
                        <img *ngIf="film.trailerCode==1" src="assets/graphics/youTube.png" height="25">
                        <img *ngIf="film.trailerCode==2" src="assets/graphics/vimeo.png" height="25">
                        <img *ngIf="film.trailerCode==3" src="assets/graphics/amazon.png" height="25">
                        Watch Trailer</button>
                </a>
                <app-button *ngIf="0 && filmIsEditableFlg && film.trailorUrl && !film.trailerEmbed"
                    (click)="editEmbedClicked()" [icon]="'angle-double-right'"></app-button>


                <a target="_blank" href="{{film.url}}">
                    <button class="btn btn-secondary roundButton">
                        <i class="fa fa-play" *ngIf="film.videoCode==0"></i>
                        <img *ngIf="film.videoCode==1" src="assets/graphics/youTube.png" height="25">
                        <img *ngIf="film.videoCode==2" src="assets/graphics/vimeo.png" height="25">
                        <img *ngIf="film.videoCode==3" src="assets/graphics/amazon.png" height="25">
                        Watch it!</button>
                </a>

                <a *ngIf="film.behindScenes" target="_blank" href="{{film.behindScenes}}">
                    <button class="btn btn-secondary roundButton">
                        <i class="fa fa-play" *ngIf="film.videoCode==0"></i>
                        <img *ngIf="film.videoCode==1" src="assets/graphics/youTube.png" height="25">
                        <img *ngIf="film.videoCode==2" src="assets/graphics/vimeo.png" height="25">
                        <img *ngIf="film.videoCode==3" src="assets/graphics/amazon.png" height="25">
                        Behind the scenes footage</button>
                </a>

            </div>
        </div>
    </div>
    <hr>
    <iframe *ngIf="film && film.trailerEmbed" width="100%" height="400"
        [src]="sanitizer.bypassSecurityTrustResourceUrl(film.trailerEmbed)" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <iframe *ngIf="film && film.urlEmbed" width="100%" height="400"
        [src]="sanitizer.bypassSecurityTrustResourceUrl(film.urlEmbed)" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <app-form-wrapper *ngIf="editEmbededLinkFlg" [loadingFlg]="loadingFlg" [formFields]="formFields"
        (messageEvent)="submitEmbedButtonClicked($event)"></app-form-wrapper>

    <div *ngIf="writeReviewFlg" style="text-align: center; padding: 5px;" [ngStyle]="ngStyleButton(3)">
        <div><b>{{user.username}}'s Film Review</b></div>
        <hr>
        <div>Overall, how well did you like this {{film.genre}}?</div>
        <div class="btn-group">
            <button (click)="changeStarCount(1)" type="button" class="btn-default roundButton segmentButton"
                [ngStyle]="ngStyleSegment(starCount,1)">
                <div class="menu-title">1 <i class="fa fa-star"></i></div>
            </button>
            <button (click)="changeStarCount(2)" type="button" class="btn-default roundButton segmentButton"
                [ngStyle]="ngStyleSegment(starCount,2)">
                <div class="menu-title">2 <i class="fa fa-star"></i></div>
            </button>
            <button (click)="changeStarCount(3)" type="button" class="btn-default roundButton segmentButton"
                [ngStyle]="ngStyleSegment(starCount,3)">
                <div class="menu-title">3 <i class="fa fa-star"></i></div>
            </button>
            <button (click)="changeStarCount(4)" type="button" class="btn-default roundButton segmentButton"
                [ngStyle]="ngStyleSegment(starCount,4)">
                <div class="menu-title">4 <i class="fa fa-star"></i></div>
            </button>
            <button (click)="changeStarCount(5)" type="button" class="btn-default roundButton segmentButton"
                [ngStyle]="ngStyleSegment(starCount,5)">
                <div class="menu-title">5 <i class="fa fa-star"></i></div>
            </button>
            <button (click)="reviewButtonClicked()" type="button" class="btn-default roundButton segmentButton"
                [ngStyle]="ngStyleSegment(starCount,5)">
                Cancel
            </button>
        </div>
    </div>

    <app-form-wrapper *ngIf="starCount>0" [loadingFlg]="loadingFlg" [formFields]="reviewFields"
        (messageEvent)="submitReviewButtonClicked($event)"></app-form-wrapper>

    <div *ngIf="!writeReviewFlg">
        <app-review-bar [film]="film" [wideFlg]="true"></app-review-bar>
        <div *ngIf="!writeReviewFlg" [ngStyle]="ngStyleButton(3)"
            style="font-size: 20px; font-weight: 800; height: 44px;">
            User Reviews
            <app-button [class]="'narrow'" (click)="reviewButtonClicked()" [name]="'Write Review'" [icon]="'pencil'">
            </app-button>
        </div>
        <div *ngIf="!filmReviews || filmReviews.length==0">No Reviews yet - Be the first!</div>
        <div *ngIf="!writeReviewFlg">
            <app-review-detail *ngFor="let review of filmReviews" [review]="review" [user]="user"
                (messageEvent)="reviewButtonClicked()"></app-review-detail>
        </div>
    </div>
</app-page-shell>

<app-info-popup #infoPopup></app-info-popup>
<app-film-edit #filmEditPopup (messageEvent)="flmEdited($event)"></app-film-edit>
<app-cast-crew-popup #castCrewPopup (messageEvent)="flmEdited($event)"></app-cast-crew-popup>