<app-page-shell [userId]="userId" [navTitle]="'Awards'" [icon]="'fa-trophy'">

    <img src="assets/graphics/awards.jpg" class="image">
 
 
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-4">
                    <div class="borderClass">
                        <div class="titleCLass"><i class="fa fa-film"></i> Film Awards</div>
                        <div class="listClass">
                            <li>Best Picture</li>
                            <li>Best Director</li>
                            <li>Best Actor</li>
                            <li>Best Actress</li>
                            <hr>
                            <li>Best Sound / Music</li>
                            <li>Best Editing</li>
                            <li>Best Supporting Performance</li>
                            <li>Best Performance by a Child</li>
                            <hr>
                            <li>Best Comedy</li>
                            <li>Best Documentary</li>
                            <li>Best Drama/Action</li>
                            <li>Best Horror</li>
                            <li>Best Music Video</li>
                            <li>Best Sci-Fi</li>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="borderClass">
                        <div class="titleCLass"><i class="fa fa-list-alt"></i> Genres</div>
                        <div class="listClass">
                            <li>Action</li>
                            <li>Comedy</li>
                            <li>Documentary</li>
                            <li>Drama</li>
                            <li>Horror</li>
                            <li>Music Video</li>
                            <li>Sci-Fi</li>
                            <li>Other</li>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="borderClass">
                        <div class="titleCLass"><i class="fa fa-file-text"></i> Script Awards</div>
                        <div class="listClass">
                            <li>Best Original Screenplay</li>
                            <li>Best Adapted Screenplay</li>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</app-page-shell>