<app-page-shell [userId]="userId" [navTitle]="'Awards'" [icon]="'fa-trophy'">

    <img src="assets/graphics/awards.jpg" class="image">
    <app-button-bar [buttonIdx]="3"></app-button-bar>

    <div class="blackBox">
        <div style="font-size: 24px; font-weight: 700;"><i class="fa fa-trophy"></i> -Awards-</div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <div class="borderClass">
                        <div class="titleCLass"><i class="fa fa-trophy"></i> Film Awards</div>
                        <div class="listClass">
                            <li>Best Picture</li>
                            <li>Best Director</li>
                            <li>Best Sound</li>
                            <li>Best Music Score</li>
                            <li>Best Editing</li>
                            <li>Best Stunts/Special Effects/Artistic Appeal</li>
                            <li>Best Actor</li>
                            <li>Best Actress</li>
                            <li>Best Supporting Actor</li>
                            <li>Best Supporting Actress</li>
                            <li>Best performance by a Child</li>
                            <li>Best film of each genre</li>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="borderClass">
                        <div class="titleCLass"><i class="fa fa-list-alt"></i> Genres</div>
                        <div class="listClass">
                            <li>Comedy</li>
                            <li>Documentary</li>
                            <li>Drama</li>
                            <li>Horror</li>
                            <li>Music Video</li>
                            <li>Sci-Fi</li>
                            <li>Other</li>
                         </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</app-page-shell>