<app-page-shell [userId]="userId" [navTitle]="'Join the Festival!'" [icon]="'fa-emerald'" [rButton]="'home'">

    <img src="assets/graphics/film9.jpg" class="image">
    <app-button-bar [buttonIdx]="6"></app-button-bar>

    <div class="blackBox">
        <div style="font-size: 24px; font-weight: 700;"><i class="fa fa-shield"></i> Snohomish Film Festival Guild</div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <div class="borderClass">
                        <div class="titleCLass">Guild Info</div>
                        <p>
                            Welcome to the Snohomish Film Festival Guild!
                        </p>
                        <p>
                            Thank you to everyone who is helping out. This is an all-volunteer project meant to help
                            promote and enrich the Washington State independent film industry. Your help is greatly
                            appreciated.
                        </p>
                        <div style="text-align: center; font-size: 20px;">
                            <a [routerLink]="['/people']" [queryParams]="{buttonIdx: 5}">
                                Guild Members
                            </a>
                        </div>
                        <hr>
                        <p>
                            Here are some things you can do to get started:
                        </p>
                        <ol>
                            <li [routerLink]="['/user']" [queryParams]="{id: userId}">Update your <b><u>profile</u></b>
                                with a picture and short bio.</li>
                            <li>For any comments or questions, post to our <a
                                    href="https://app.slack.com/client/T0194UP5J31/G01A9GPRJCQ">Slack</a> forum.</li>
                            <li>Or email <a href="mailto:rickmedved@hotmail.com">rickmedved@hotmail.com</a> for
                                questions.</li>

                        </ol>
                        <hr>
                        <div>Next
                            <a
                                href="https://us04web.zoom.us/j/79059264380?pwd=SG9VZ0hLMTBhMEZwVS9WQkVyektVUT09">Zoom</a>
                            meeting, Tuesday Nov 17th @7pm</div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="borderClass">
                        <div class="titleCLass">Review Process</div>
                        <p>Visit <a
                                href="https://filmfreeway.com/SnohomishFilmFestival">Film Freeway</a> to conduct
                            reviews.</p>
                        <hr>
                        <p><b>Tier 1:</b> All Guild Members can watch as many or as few of the films as
                            you
                            have time for.
                        </p>
                        <p>To conduct a review follow these steps:</p>
                        <ol>
                            <li>Log into Film Freeway.</li>
                            <li>Click "Submissions" at the top.</li>
                            <li>Click on a film. (<i class="fa fa-flag" style="color: blue;"></i> = Films, <i class="fa fa-flag" style="color: orange;"></i> = Scripts)</li>
                            <li>Watch the film (password is directly beneath the film).</li>
                            <li>Scroll down and click the blue "Rate Project" button.</li>
                        </ol>

                        <div style="border: 1px solid black; padding: 10px; margin: 10px;">
                            <div><b><u>Judging Form</u></b></div>
                            <ol>
                                <li>Acting, (1-10)</li>
                                <li>Directing, (1-10)</li>
                                <li>Writing/Story, (1-10)</li>
                                <li>Sound / Music, (1-10)</li>
                                <li>Stunts / Effects / Artistic Appeal, (1-10)</li>
                            </ol>
                            <ul>
                                <li>Comments to the film maker.</li>
                            </ul>
                        </div>


                        <p>
                            The scores from all the scorecards will be tabulated and the top 30 films make it into the festival.
                        </p>
                        <p><b>Tier 2:</b> Starting July 1st: The 8 guild members who have watched the most films automatically become Tier 2 members. This group will pick the top 3 movies for each award.
                        </p>
                        <p><b>Tier 3:</b> Starting July 15th: Each award will be assigned to a group of 3 "experts" who will vote on a winner from the 3 selected films.
                        </p>
                        <!--<p>
                            <b>Tier 2:</b> The submission process closes June 30th. Starting July 1st the Tier 2
                            team, which has not
                            seen any of the films, will watch the 40 films and decide which 30 make it into the
                            festival, plus pick the top 3 films for each award category.
                        </p>
                        <p>
                            July 15th, all films selected into the festival will be announced. We will also announce the
                            top 3 films for each award category (with winners to be announced as part of the festival
                            Awards Ceremony)
                        </p>
                        <p>
                            <b>Tier 3:</b> Starting July 15th, Tier 3 judges will start watching movies to decide the winners of each category.
                            For each award category (Best Director, Best Sound, Best editing, etc) a
                            3-judge
                            panel will watch the 3 top movies selected for the award and vote on the winner. Note: Tier 3 judges are also Tier 1 guild members and may or may not have already seen the movies.
                        </p>-->
                    </div>
                </div>
            </div>
        </div>

    </div>
</app-page-shell>