<app-page-shell [userId]="userId" [navTitle]="'Join the Festival!'" [icon]="'fa-emerald'" [rButton]="'home'">

    <img src="assets/graphics/film9.jpg" class="image">
    <app-button-bar [buttonIdx]="6"></app-button-bar>

    <div class="blackBox">
        <div style="font-size: 24px; font-weight: 700;"><i class="fa fa-shield"></i> Snohomish Film Festival Guild</div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <div class="borderClass">
                        <div class="titleCLass">Guild Info</div>
                        <p>
                            Welcome to the Snohomish Film Festival Guild!
                        </p>
                        <p>
                            Thank you to everyone who is helping out. This is an all-volunteer project meant to help
                            promote and enrich the Washington State independent film industry. Your help is greatly
                            appreciated.
                        </p>
                        <div style="text-align: center; font-size: 20px;">
                            <a [routerLink]="['/people']" [queryParams]="{buttonIdx: 5}">
                                Guild Members
                            </a>
                        </div>
                        <hr>
                        <p>
                            Here are some things you can do to get started:
                        </p>
                        <ol>
                            <li [routerLink]="['/user']" [queryParams]="{id: userId}">Update your <b><u>profile</u></b>
                                with a picture and short bio.</li>
                            <li>For any comments or questions, post to our <a
                                    href="https://app.slack.com/client/T0194UP5J31/G01A9GPRJCQ">Slack</a> forum.</li>
                            <li>Or email <a href="mailto:rickmedved@hotmail.com">rickmedved@hotmail.com</a> for
                                questions.</li>

                        </ol>
                        <hr>
                        <div>Next
                            <a
                                href="https://us04web.zoom.us/j/79059264380?pwd=SG9VZ0hLMTBhMEZwVS9WQkVyektVUT09">Zoom</a>
                            meeting, Tuesday Nov 17th @7pm</div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="borderClass">
                        <div class="titleCLass">Review Process</div>
                        <p>Starting October 1st, you can visit <a
                                href="https://filmfreeway.com/SnohomishFilmFestival">Film Freeway</a> to conduct
                            reviews.</p>
                        <hr>
                        <p><b>Tier 1:</b> Guild Members can watch as many or as few of the films as
                            you
                            have time to watch and rate them in 5 categories, plus give feedback.
                        </p>
                        <p>The judging
                            forms look like this:</p>


                        <div style="border: 1px solid black; padding: 10px; margin: 10px;">
                            <div><b><u>Judging Form</u></b></div>
                            <ol>
                                <li>Acting, rate from 1-10</li>
                                <li>Directing, rate from 1-10</li>
                                <li>Writing/Story, rate from 1-10</li>
                                <li>Sound / Music, rate from 1-10</li>
                                <li>Stunts / Effects / Artistic Appeal, rate from 1-10</li>
                            </ol>
                            <ul>
                                <li>Comments to other judges</li>
                                <li>Comments to the film maker</li>
                            </ul>
                        </div>


                        <p>
                            The scores from all the scorecards will be tabulated and the top 40 films move on to tier 2.
                        </p>
                        <!--<p>
                            <b>Tier 2:</b> The submission process closes June 30th. Starting July 1st the Tier 2
                            team, which has not
                            seen any of the films, will watch the 40 films and decide which 30 make it into the
                            festival, plus pick the top 3 films for each award category.
                        </p>
                        <p>
                            July 15th, all films selected into the festival will be announced. We will also announce the
                            top 3 films for each award category (with winners to be announced as part of the festival
                            Awards Ceremony)
                        </p>
                        <p>
                            <b>Tier 3:</b> Starting July 15th, Tier 3 judges will start watching movies to decide the winners of each category.
                            For each award category (Best Director, Best Sound, Best editing, etc) a
                            3-judge
                            panel will watch the 3 top movies selected for the award and vote on the winner. Note: Tier 3 judges are also Tier 1 guild members and may or may not have already seen the movies.
                        </p>-->
                    </div>
                </div>
            </div>
        </div>

    </div>
</app-page-shell>